{% extends "admin/change_form.html" %}
{% load i18n %}

{% block extrahead %}{{ block.super }}
    <script>
        django.jQuery(function ($) {
            $('.submissions-link').appendTo('div#bottombar').show();

            // AI Draft: populate description from sessionStorage
            var params = new URLSearchParams(window.location.search);
            if (params.get('ai_draft') === '1') {
                var description = sessionStorage.getItem('ai_problem_description');
                if (description) {
                    // Set the hidden textarea value
                    $('#id_description').val(description);

                    // Wait for Martor/Ace editor to initialize, then set its value
                    var attempts = 0;
                    var interval = setInterval(function() {
                        attempts++;
                        try {
                            var editor = ace.edit('martor-description');
                            if (editor) {
                                editor.setValue(description, -1);
                                clearInterval(interval);
                            }
                        } catch (e) {
                            // Ace editor not ready yet
                        }
                        if (attempts > 50) clearInterval(interval);
                    }, 100);

                    sessionStorage.removeItem('ai_problem_description');
                }
            }
        });
    </script>
{% endblock extrahead %}

{% block after_field_sets %}{{ block.super }}
    {% if original %}
        <a style="display: none" title="{% trans "View Submissions" %}" class="button submissions-link"
           href="{% url 'admin:judge_submission_changelist' %}?problem__code={{ original.code }}">
            <i class="fa fa-lg fa-search-plus"></i>
            <span class="text">{% trans "View submissions" %}</span>
        </a>
    {% endif %}
{% endblock %}
