<style>
    .first-solve {
        background-color: #a7e3bf !important;
    }

    .full-score, .full-score a {
        font-weight: bold;
        color: #15803d;
    }

    .partial-score, .partial-score a {
        color: #15803d;
        font-weight: 600;
    }

    .failed-score, .failed-score a {
        color: #b91c1c;
    }

    .pretest-full-score, .pretest-full-score a {
        font-weight: bold;
        color: #1f74d6;
    }

    .pretest-partial-score, .pretest-partial-score a {
        color: #1f74d6;
    }

    .pretest-failed-score, .pretest-failed-score a {
        color: #dc2626;
    }

    .user-points, .user-points a {
        font-weight: bold;
        font-size: 1.05em;
    }

    .pending {
        background-color: #dbeafe;
    }

    .solving-time {
        color: #5b6474;
        font-weight: normal;
        font-size: 0.8em;
        padding-bottom: -0.75em;
    }
</style>
