<style>
    .first-solve {
        background-color: #22c55e !important;
    }

    .full-score {
        color: black;
        background-color: #86efac;
    }

    .failed-score {
        color: black;
        background-color: #fca5a5;
    }

    .pending {
        background-color: #a5b4fc;
    }

    .failed-score a, .full-score a, .pending a {
        color: black;
    }

    .solving-time {
        display: none;
    }

    .solving-time-minute {
        color: black;
        font-size: 1.25em;
        padding-bottom: -0.75em;
    }
</style>
