<style>
    .first-solve {
        background-color: #b7f993 !important;
    }

    .full-score, .full-score a {
        font-weight: bold;
        color: #006d00;
    }

    .partial-score, .partial-score a {
        color: #006d00;
        font-weight: 600;
    }

    .failed-score, .failed-score a {
        color: #cc0000;
    }

    .pretest-full-score, .pretest-full-score a {
        font-weight: bold;
        color: #2980b9;
    }

    .pretest-partial-score, .pretest-partial-score a {
        color: #2980b9;
    }

    .pretest-failed-score, .pretest-failed-score a {
        color: red;
    }

    .user-points, .user-points a {
        font-weight: bold;
        font-size: 1.05em;
    }

    .pending {
        background-color: #b0e8f4;
    }

    .solving-time {
        color: #555;
        font-weight: normal;
        font-size: 0.8em;
        padding-bottom: -0.75em;
    }
</style>
