<script type="text/javascript">
    $(function () {
        $('.leaving-forever').click(function () {
            return confirm({{ _('Are you sure you want to leave?')|htmltojs }} + '\n' +
                {{ _('You cannot come back to a virtual participation. You will have to start a new one.')|htmltojs }});
        });

        $('.leaving-live-contest').click(function () {
            return confirm(
                {{ _('Are you sure you want to leave this contest?')|htmltojs }} + '\n\n' +
                {{ _('WARNING: Once you leave, you will NOT be able to rejoin as an official participant. You will only be able to spectate the contest.')|htmltojs }} + '\n\n' +
                {{ _('This action cannot be undone.')|htmltojs }}
            );
        });

        {% if not request.official_contest_mode %}
            $('.first-join').click(function () {
                var msg = {{ _('Are you sure you want to join?')|htmltojs }} + '\n' +
                    {{ _('Joining a contest starts your timer, after which it becomes unstoppable.')|htmltojs }};
                {% if contest is defined and contest.enable_focus_lock %}
                    msg += '\n\n' + {{ _('WARNING: This contest has Focus Lock enabled. Your screen will enter fullscreen mode and the navigation bar will be hidden. Switching tabs or exiting fullscreen will be recorded as a violation. Excessive violations may result in disqualification.')|htmltojs }};
                {% endif %}
                return confirm(msg);
            });
        {% endif %}

        {% if request.in_contest %}
            $('.contest-join').click(function () {
                return confirm({{ _('Are you sure you want to join?')|htmltojs }} + '\n' +
                    {{ _('Joining this contest will leave %(contest)s.', contest=request.participation.contest.name)|htmltojs }});
            });
        {% endif %}

        $('.register-warning').click(function () {
            return confirm({{ _('Are you sure you want to register?')|htmltojs }});
        });
    });
</script>
